<html>
<head>
<title>PhoneBuzz</title>
</head>
<body>
<p>Please enter a number.  I will call this number.</p>
<form name = "phonebuzz" method ="post" action="make_call">
<label>Number</label>
<input type="number" name="phone"></input>
<label>Delay (in seconds)</label>
<input type="number" name="delay" value=0></input>
<input type="submit" value="Submit">
</form>
<table>
<tr>
<th>Number called</th>
<th>Delay</th> 
<th>Time</th>
</tr>
{% for h in history %}
<tr>
<td>{{callRequests[h][1]}}</td>
<td>{{callRequests[h][0]}}</td>
<td>{{h}}</td>
</tr>
{% endfor %}
</table>
</body>
</html>
