<html>
<head>
<title>PhoneBuzz</title>
</head>
<body>
<p>Please enter a number.  I will call this number.</p>
<form name = "phonebuzz" method ="post" action="make_call">
<label>Number</label>
<input type="number" name="phone"></input>
<label>Delay (in seconds)</label>
<input type="number" name="delay" value=0></input>
<input type="submit" value="Submit">
</form>
<table border = "1">
<tr>
<th>Number called</th>
<th>Delay</th> 
<th>Time</th>
<th>Replay</th>
</tr>
{% for h in history %}
<tr>
<td>{{callRequests[h][1]}}</td>
<td>{{callRequests[h][0]}}</td>
<td>{{h}}</td>
<td>
<form name="replay" method="post" action="replay">
<input type="hidden" name="Digits" value={{callRequests[h][2]}}>
<input type="hidden" name="Phone" value={{callRequests[h][1]}}>
<input type="submit" value="Replay">
</form>
</td>
</tr>
{% endfor %}
</table>
</body>
</html>
